@model (ServerApp.Models.Deposit deposit, Info info)

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Deposit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deposit.ContractNumber" class="control-label"></label>
                <input asp-for="deposit.ContractNumber" class="form-control" />
                <span asp-validation-for="deposit.ContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deposit.Type" class="control-label"></label>
                <select asp-for="deposit.Type" asp-items="Html.GetEnumSelectList<DepositType>()" class="form-control"></select>
                <span asp-validation-for="deposit.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CurrencyId" class="control-label">Валюта</label>
                <select asp-for="deposit.CurrencyId" asp-items="@(new SelectList(Model.info.Currencies, "Id", "Name"))">
                    <option value="0">Выберите одно</option>
                </select>
                <div><span asp-validation-for="deposit.CurrencyId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="deposit.StartDate" class="control-label"></label>
                <input asp-for="deposit.StartDate" class="form-control" />
                <span asp-validation-for="deposit.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deposit.EndDate" class="control-label"></label>
                <input asp-for="deposit.EndDate" class="form-control" />
                <span asp-validation-for="deposit.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deposit.ContractTerm" class="control-label"></label>
                <input asp-for="deposit.ContractTerm" class="form-control" />
                <span asp-validation-for="deposit.ContractTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deposit.StartSum" class="control-label"></label>
                <input asp-for="deposit.StartSum" class="form-control" />
                <span asp-validation-for="deposit.StartSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deposit.Percent" class="control-label"></label>
                <input asp-for="deposit.Percent" class="form-control" />
                <span asp-validation-for="deposit.Percent" class="text-danger"></span>
            </div>
            <input type="hidden" name="item1.userId" value="@ViewBag.UserId"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
