@model string
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{            
    <div class="form-group bankomat-choice">
        <a href="@Url.Action("Status")" class="bankomat-btn form-control btn btn-primary" style="width: 90%; color: white">Узнать текущий счет</a>
        <a href="@Url.Action("Take")" class="bankomat-btn form-control btn btn-primary" style="width: 90%; color: white">Снять валюту</a>
        <form asp-action="Logout" method="post">
            <input type="submit" value="Забрать карту" class="bankomat-btn form-control btn btn-primary" style="width: 90%" />
        </form>
    </div>
}

<script>
    $(function () {
        setTimeout(function() {
            alert("Операция была успешно завершена!");
        }, 1000);
    })
</script>
